<!-- Pagination -->
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="myIcon" (click)="prevPage()">Previous</a>
        </li>
        <li class="page-item">
            <a class="myIcon" (click)="dataPage($event)">1</a>
        </li>
        <li class="page-item">
            <a class="myIcon" (click)="dataPage($event)">2</a>
        </li>
        <li class="page-item">
            <a class="myIcon" (click)="dataPage($event)">3</a>
        </li>
        <li class="page-item">
            <a class="myIcon" (click)="dataPage($event)">4</a>
        </li>
        <li class="page-item">
            <a class="myIcon" (click)="dataPage($event)">5</a>
        </li>
        <li class="page-item">
            <a class="myIcon" (click)="dataPage($event)">6</a>
        </li>
        <li class="page-item">
            <a class="myIcon" (click)="dataPage($event)">7</a>
        </li>
        <li class="page-item">
            <a class="myIcon" (click)="dataPage($event)">8</a>
        </li>
        <li class="page-item">
            <a class="myIcon" (click)="dataPage($event)">9</a>
        </li>
        <li class="page-item">
            <a class="myIcon" (click)="dataPage($event)">10</a>
        </li>
        <li class="page-item">
            <a class="myIcon" (click)="nextPage()">Next</a>
        </li>
    </ul>
</nav>
<!-- Content of the Repos -->
<h4>Page: {{ myId }}</h4>

<div class="container" *ngFor="let r of myData.items">
    <div class="ownerAvatar">
        <img src="{{ r.owner.avatar_url }}" />
    </div>
    <div class="content">
        <h3 class="reposName">{{ r.name.toUpperCase() }}</h3>
        <p class="reposDesc">{{ r.description }}</p>
        <div>
            <span class="reposStars">Stars: {{ r.stargazers_count }}</span>
            <span class="reposIssues">Issues: {{ r.open_issues }}</span>
            <span class="reposTime">Submitted {{ getTime(r.pushed_at) }} days ago by
        {{ r.owner.login }}</span
      >
    </div>
  </div>
</div>