.btnContainer {
    height: 200px;
    position: relative;
}

.btnContainer div {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.getBtn {
    width: 400px;
    height: 100px;
    font-size: 40px;
    font-weight: bold;
}